@model Nominas.Empleado

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Empleado</h4>
    <hr />

    <h5>Datos personales</h5>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cedula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cedula)
        </dd>

        <dt>
            @Html.DisplayName("Fecha de Nacimiento")
        </dt>

        <dd>
            @Model.Fecha_Nacimiento.ToLongDateString()
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cargo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cargo.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>

        <dd>
            @Model.Direccion.Provincia, @Model.Direccion.Sector, Calle @Model.Direccion.Calle.
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Horario)
        </dt>

        <dd>
            @Model.Horario.Hora_Inicio.ToString("t") a @Model.Horario.Hora_Fin.ToString("t")
        </dd>

    </dl>
</div>

@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Codigo_Empleado }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
else
{
    @Html.ActionLink("Back to List", "Index")
}