@model PagedList.IPagedList<Empleado>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

<h2>Empleados</h2>

@using (Html.BeginForm())
{
    <div class="form-inline mb-2">
        @Html.TextBox("SearchString", "", htmlAttributes: new { @class = "form-control mr-2", placeholder = "Buscar por nombre o apellido" })
        <input type="submit" value="Buscar" class="btn btn-default" />
    </div>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Nombre", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th>
            @Html.ActionLink("Apellido", "Index", new { sortOrder = ViewBag.ApellidoSortParm })
        </th>
        <th>
            Cedula
        </th>
        <th>
            @Html.ActionLink("Fecha Nacimiento", "Index", new { sortOrder = ViewBag.DateSortParm })
        </th>
        <th>
            Cargo
        </th>
        <th>
            Provincia
        </th>
        <th>
            Horario
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cedula)
            </td>
            <td>
                @item.Fecha_Nacimiento.ToShortDateString()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cargo.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion.Provincia)
            </td>
            <td>
                @item.Horario.Hora_Inicio.ToString("t") a @item.Horario.Hora_Fin.ToString("t")
            </td>
            <td>
                @Html.ActionLink("Detalles", "Details", new { id = item.Codigo_Empleado })
            </td>
        </tr>
    }

</table>

<br>
Pagina @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
