@model IEnumerable<Nominas.Nomina>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Codigo_Empleado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Empleado.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sueldo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Codigo_Empleado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Empleado.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sueldo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Codigo_Nomina }) |
            @Html.ActionLink("Details", "Details", new { id = item.Codigo_Nomina }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Codigo_Nomina })
        </td>
    </tr>
}

</table>
